.wishlist {
  text-align: center;
}
.product-list {
  display: flex;
}

.product-name {
  margin: 4px 0;
}

.product-price p {
  margin: 2px 0;
}

.product-price .price-from {
  text-decoration: line-through;
}